<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

 

    <context:annotation-config />
    <context:component-scan
        base-package="com.spring" />
    <context:property-placeholder
        location="classpath:oracle.properties" />
        
    <!-- DriverManagerDataSource to call url, username, password of DB -->
    <bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName"
            value="oracle.jdbc.driver.OracleDriver" />
        <property name="url" value="${db.url}" />
        <property name="username" value="${db.username}" />
        <property name="password" value="${db.password}" />
    </bean>

 

    <bean class="org.springframework.jdbc.core.JdbcTemplate"
        id="jdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

 

    <bean class="com.spring.dao.EventDAO" id="eventDAO">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
        <property name="datasource" ref="dataSource"/>
    </bean>
</beans>